set timeout=10
set default=1

menuentry "CactusOS" {
	multiboot /boot/CactusOS.bin

	echo "Loading initrd"
	module /initrd
}

menuentry "CactusOS with serial logging (COM1)" {
	multiboot /boot/CactusOS.bin serial
	
	echo "Loading initrd"
	module /initrd
}

menuentry "CactusOS with gdb stub (COM1)" {
	multiboot /boot/CactusOS.bin gdb
	
	echo "Loading initrd"
	module /initrd
}